<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifeline">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.modules.lab_detail.LabsDetailActivity"></activity>
        <activity android:name=".view.modules.book_appointment.BookAppointmentActivity" />
        <activity android:name=".view.modules.test_detail.TestsDetailActivity" />
        <activity android:name=".view.modules.search.SearchActivity" />
        <activity android:name=".view.modules.dashboard.AddMembersActivity" />
        <activity android:name=".view.modules.notification.NotificationActivity" />
        <activity android:name=".view.modules.signup.SelectAddressActivity" />
        <activity android:name=".view.modules.splash.OnBoardingActivity" />
        <activity android:name=".view.modules.signup.DOBActivity" />
        <activity android:name=".view.modules.signup.NameActivity" />
        <activity
            android:name=".view.modules.login.OTPActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.modules.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.modules.dashboard.DashBoardActivity" />
        <activity android:name=".view.modules.signup.GenderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvBNYjMK7I3xSWCXeTv33Oa1jKC_ARXc8" />
    </application>

</manifest>